.cssBotoes{
    flex-direction: row;
    flex-wrap: wrap;
    color:#f0e9e3;
}

.cssBtn{
    font-size:25px;
    height:60px;
    width:60px;
    background-color:#9bdda4;
    color:#000;
    border-radius: 40%;
    border: #9bdda4;
    text-align:center;
    outline:none;
    margin:1px;
}
  
  .cssBtn:hover{
    opacity: 80%;
}